<header>
  <h1>Posts</h1>
    <% if policy(Post.new).create? %>
      <li><%= link_to "New Post", new_post_path %></li>
    <% end %>
</header>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %> <i>Written by <%= User.find(post.author.id).email %></i></h2>
<% end %>
